body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    padding: 2rem;
    background-color: #333;
    color: #fff;
}

p {
    font-size: 1.2rem;
    color: #333;
    padding: 1rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

form button {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

form button:hover {
    background-color: #444;
}

a {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    margin-left: 1rem;
}

a:hover {
    text-decoration: underline;
}

.delete-button {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #444;
}